{% extends "base.html" %}

{% block titulo %}Editar Produto{% endblock %}

{% block conteudo %}
    <h1>Editar Produto</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="mensagem-{{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form method="POST">
        <label>Nome: <input type="text" name="nome" value="{{ produto.nome }}" required placeholder="Nome do produto"></label>
        <label>Descrição: <input type="text" name="descricao" value="{{ produto.descricao }}" placeholder="Descrição do produto"></label>
        <label>Quantidade: <input type="number" name="quantidade" value="{{ produto.quantidade }}" required placeholder="0"></label>
        
        <div class="d-flex justify-between">
                          <button type="submit" class="btn btn-success">SALVAR ALTERAÇÕES</button>
            <a href="{{ url_for('estoque_bp.listar_produtos') }}" class="btn btn-warning">CANCELAR</a>
        </div>
    </form>
{% endblock %}
