{% extends "base.html" %}

{% block titulo %}Editar Artista{% endblock %}

{% block conteudo %}
<h1>Editar Artista</h1>

<!-- MENSAGENS -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul>
      {% for category, message in messages %}
        <li style="color: {% if category == 'erro' %}red{% else %}green{% endif %};">
          {{ message }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form method="POST">
  <label for="nome">Novo nome:</label>
  <input type="text" name="nome" value="{{ nome }}" required>
     <div class="form-botoes">
     <button type="submit" class="btn btn-success">Salvar Artista</button>
     <a href="{{ url_for('cadastro_bp.gerenciar_artistas') }}" class="btn btn-secondary">Cancelar</a>
   </div>
</form>
{% endblock %}
